<!doctype html>
<html lang="es" ng-app="Conversor">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Conversor de divisas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="MainController as ctrl">

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Conversor de divisas</h1>
                <nav>
                    <ul>
                        <li><a href="#">Conversor</a></li>
                        <li><a href="#">Créditos</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <form name="conversorForm">
                    <article>
                        <section>
                            <h2>Introduce la siguiente información</h2>
                            <label for="numero">Introduce el valor a convertir: </label>
                            <input type="text" id="numero" value="" ng-model="ctrl.numero">
                            <br/>
                            <label for="divisa_origen">Introduce la divisa de origen: </label>
                            <select id="divisa_origen" ng-model="ctrl.origen" ng-options="item as item.label for item in ctrl.divisas track by item.id"></select>
                            <br/>
                            <label for="divisa_destino">Introduce la divisa de destino: </label>
                            <select id="divisa_destino" ng-model="ctrl.destino" ng-options="item as item.label for item in ctrl.divisas track by item.id"></select>
</section>
<section>
<h2>Resultado</h2>
<p><span ng-bind="numero"></span>{{ctrl.numero}} {{ctrl.origen.label}} son {{ ctrl.numero * ctrl.conversion[ctrl.origen.id][ctrl.destino.id] }} {{ctrl.destino.label}}</p>
</section>
</article>
</form>
<aside>
<h3>Instrucciones</h3>
<p>Introduce el valor a convertir, selecciona la divisa de origen y de destino y obtendrás el valor convertido.</p>
</aside>
</div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>PEC 1 - Manuel Pereira González</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="js/main.js"></script>

        <script>
            <!-- Inicializa el valor del numero a cero -->
            angular
                    .module("Conversor", [])
                    .controller('MainController', [function() {
                        console.log('Inicializando controlador');

                        // Tabla de conversión
                        this.conversion = [[1, 1.2, 0.71],[0.83, 1, 0.59],[1.4, 1.68, 1]];

                        // Tipos de divisa
                        this.divisas = [
                            {
                                id: 0,
                                label: 'Euros'
                            },
                            {
                                id: 1,
                                label: 'Dólares'
                            },
                            {
                                id: 2,
                                label: 'Libras Esterlinas'
                            }
                        ];

                        // Valores iniciales para componentes del formulario
                        this.numero = '0';
                        this.origen = this.divisas[0];
                        this.destino = this.divisas[0];
                    }]);
        </script>
    </body>
</html>
